<div class="container mt-2">
    <li class="list-group-item-light list-group-item fw-bold text-success mb-2">Add Purchase Details Page</li>
    <span class=""> Date : <script> document.write(new Date().toLocaleDateString('en-GB')); </script></span>
</div>
<div class="container mt-2">
    <form>
        <select class="form-select fw-bold mb-3" aria-label="Default select example">
            <option selected>Select a Client</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
        </select>
        <select class="form-select fw-bold mb-3" aria-label="Default select example">
            <option selected>Select a Product</option>
            <option value="1">name of item || Tunch: 85%

    </form>
</div>