

<!--
    clients attributes 
        1. name
        2. gst
        3. date of creation
        3 . type of client : manufact/retailwhole
        4. address  -> type : object
        5. purchase transact -> type : objectId
        6. sale transaction -> type : objectId
        7. payment transact -> type : objectId
        8. silver balance
        9. labour cash
        10. payment status : pending, advance or none.
        11. transaction date wen payment status is 0 / none -> type : object, zeroPaymentStatusObject : date 
        
        payment status -ve : advance / +ve pending / 0 none 

        

-->

<div class="container mt-2 mb-2 fw-bold">
    <li class="list-group-item list-group-item-warning">
        <span class="text-capitalize mx-5">Add Client</span>
        <span class=""> Date : <script> document.write(new Date().toLocaleDateString()); </script></span>
    </li>
</div>
<form method="POST" action="/addClients">
<div class="container mt-2">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <div class="mb-3">
                <label for="nameOfClient" class="form-label fw-bold">Name Of Client</label>
                <input type="text" name="nameOfClient" class="form-control" id="nameOfClient" required placeholder="Name Of Client">
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Please Enter Valid Input
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <div class="mb-3">
                <label for="gst" class="form-label fw-bold">GSTIN</label>
                <input type="text" name="gstNum" class="form-control" id="gst"  placeholder="GSTIN Of Client">
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <div class="mb-3">
                <select class="form-select fw-bold" name="clientType" aria-label="Default select example">
                    <option selected >Select Client Type</option>
                    <option value="1">Manufacturer</option>
                    <option value="2">Wholesaler</option>
                    <option value="3">Retailer</option>
                    <option value="3">Bullion Trader</option>
                </select>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <!--this is an empty div for arrangement of form fields-->
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <div class="mb-3">
                <div class="fw-bold">Personal Info :</div>
                <div>
                    <label for="teleNum" class="form-label fw-bold">Tele-Num</label>
                    <input type="tel" class="form-control" id="teleNum" name="teleNum" required >
                </div>
                <div>
                    <label for="city" class="form-label fw-bold">City</label>
                    <input type="text" class="form-control" id="city" name="city" required>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <div class="mb-3">
                <div class="fw-bold">
                    Official Info :
                </div>
                <div>
                    <label for="bullionBalance" class="form-label fw-bold">Silver Balance (Grms)</label>
                    <input type="number" step="any" value=0 id="bullionBalance" class="form-control" name="bullionBalance">
                </div>
                <div>
                    <label for="cashBalance" class="form-label fw-bold">Cash Balance (Rupees)</label>
                    <input type="number" step="any" value=0 id="cashBalance" class="form-control" name="cashBalance">
                </div>
            </div>
        </div>

        <div class="container mb-2">
            <button type="submit" class="btn btn-primary btn-sm mx-2">Add Client</button>
            <button type="reset" class="btn btn-light btn-sm mx-2">Reset</button>
        </div>
    </div>
</div>
</form>